{% spaceless %}
{% set modular_classes = [
    'modular',
    'modular--bullets',
    'wrapping',
    'bullets',
] %}

{% if page.header.layout.inverted %}
    {% set modular_classes = modular_classes|merge( ['is-inverted'] ) %}
{% endif %}
{% endspaceless %}

{% if header.bullets %}
    <div class="{{ modular_classes|join( ' ' )|trim }}">
        <div class="wrapped">
            {% if page.header.layout.show_title %}
            <h2 class="modular__title" >{{ page.title }}</h2>
            {% endif %}
            <ul class="bullets__list">
                {% for bullet in header.bullets %}
                    {% if bullet.icon %}
                    <li class="bullets__item">
                        <a class="bullets__link" href="{{ bullet.url }}">
                            {{ svg( bullet.icon, 'bullets__icon icon' )|raw }}
                            <span class="bullets__label">{{ bullet.label }}</span>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}