{% spaceless %}
{% set modular_classes = [
    'modular',
    'modular--gallery',
    'wrapping',
] %}

{% set types = {
    grid: {
        width: 250,
        height: 250,
    },
    column: {
        width: 500,
        height: null,
    }
} %}

{% set layout = header.layout|default( 'grid' ) %}
{% endspaceless %}

<div class="{{ modular_classes|join( ' ' )|trim }}">
    <div class="sc-gallery sc-gallery--{{ layout }}">
        {% for filename in header.media_order|split(',') -%}
            {% set file = page.media[ filename ] -%}
            <a class="sc-gallery__link" href="{{ file.cropResize(1600,1600).url }}">
                {% if layout == 'grid' -%}
                    {% set image = file.cropZoom( types[layout].width, types[layout].height ) -%}
                {% elseif layout == 'columns' -%}
                    {% set image = file.cropResize( types[layout].width, types[layout].height ) -%}
                {% endif -%}
                <img class="sc-gallery__image" src="{{ image.url }}" alt="{{ file.metadata.alt }}" loading="lazy">
            </a>
        {% endfor -%}
    </div>
</div>