<section class="modular wrapping tabs tabs--default">
    {% if header.hide_title != true -%}
    <h2 class="modular__title">{{ page.title }}</h2>
    {% endif -%}

    <div class="wrapped">
        <ul class="tabs__head">
            {% for target in header.tabs %}
            <li class="tabs__tab">
                <a class="tabs__toggle" href="#tabsection{{ loop.index }}">
                    <span class="label">{{ target.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% for target in header.tabs %}
        <article class="tabs__content" id="tabsection{{ loop.index }}">
            <h2 class="tabs__title">{{ target.title }}</h2>
            <div class="textflow">
                {{ target.content|markdown|raw }}
            </div>
        </article>
        {% endfor %}
    </div>

</section>