{%- set body_classes = [
    body_classes|default( '' ),
    tpl_body_classes|default(''),
    header.body_classes,
]|join( ' ' )|trim -%}
{%- set theme_config = attribute(config.themes, config.system.pages.theme) -%}

{%- set doc_title = '' -%}
{% if header.title and page.slug != 'home' %}
    {%- set doc_title = header.title|e('html') ~ ' - ' -%}
{% endif %}
{% if title_overwrite != null %}
    {%- set doc_title = title_overwrite ~ ' - ' -%}
{% endif %}
{%- set doc_title = doc_title ~ site.title|e('html') -%}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}" class="no-js">
<head>
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="view-transition" content="same-origin" />
    <title>{{ doc_title }}</title>

    {% include 'partials/metadata.html.twig' %}
    <link rel="canonical" href="{{ page.url(true, true) }}">
{% endblock head %}

<script type="module">
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
</script>

{% block stylesheets -%}
    {% do assets.addCss('theme://dist/css/main.css', 100) %}
    {%- if page.header.page_css %}
        {% do assets.addCss('theme://dist/css/' ~ page.header.page_css ~ '.css', 99) %}
    {% endif -%}
{% endblock -%}

<link rel="stylesheet"
    href="{{ url( 'theme://dist/css/fonts.css' )}}"
    media="print" onload="this.media='all'">
<noscript>
    <link rel="stylesheet" href="{{ url( 'theme://dist/css/fonts.css' )}}">
</noscript>

{% block javascripts %}
    {% do assets.addJs('theme://dist/js/main.js', { group:'bottom', priority: 101 }) %}
    {% if config.system.env.state == 'dev' %}
        {% do assets.addJs('theme://dist/js/dev.js', { group:'bottom' }) %}
    {% endif %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}

{%- if config.site.env.state == 'production' %}
    {# {% include 'partials/matomo.html.twig' %} #}
{% else %}
    <link rel="icon" href="{{ url('theme://assets/favicons/favicon.php') }}?letter={{ site.title|first }}&env={{ config.site.env.state }}">
    <meta name="robots" content="noindex,nofollow">
{% endif -%}

</head>
<body id="top" class="{{ body_classes }}">

{% block header %}
    <header class="header wrapping">
        <a href="#content" class="skiplink visually-hidden">{{ 'THEME_C.A11Y.SKIP2CONTENT'|t|e }}</a>

        <div class="wrapped">
            <a class="logo" href="{{ home_url }}">
                {{ svg('logo', 'logo__img icon', { 'title': site.title })|raw }}
                {# {{ site.title }} #}
            </a>

            {% block header_navigation %}
                {% include 'partials/navigation.html.twig' %}
            {% endblock %}
            <div class="header__l10n">
                {% include 'partials/langswitcher.html.twig' %}
            </div>
        </div>
    </header>
{% endblock %}

<main class="main" id="content">
    {% block hero %}
        {% if page.header.hero.image %}
            {% include 'partials/hero.html.twig' %}
        {% endif %}
    {% endblock %}

    {% block breadcrumbs %}
        {% if config.plugins.breadcrumbs.enabled and page.header.hide_breadcrumbs == false %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}
    {% endblock %}

    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}
</main>

{% block footer %}
    <footer class="footer wrapping" id="footer">
        <div class="wrapped">
            <nav class="footer__nav" aria-label="{{ 'THEME_C.NAV.FOOTER'|t|e }}">
                <ul class="menu">
                {% set menuItems = page.collection( {
                    items: {
                        '@taxonomy.navarea': 'footer'
                    },
                    order: {
                        by: default
                    }
                } ) %}
                {% for item in menuItems %}
                    <li class="menu__item">
                        <a href="{{ item.url }}" class="menu__link">{{ item.menu }}</a>
                    </li>
                {% endfor %}
                </ul>
            </nav>

            {% if config.details.social %}
                <ul class="footer__social" aria-label="{{ 'THEME_C.NAV.SOCIAL'|t|e }}">
                {% for item in config.details.social %}
                    <li class="footer__social__item">
                        <a
                            class="footer__social__link"
                            href="{{ item.url }}"
                            title="{{ item.title }}"
                            aria-label="{{ item.title }}"
                        >
                        {{ svg(item.icon)|raw }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}

            <a href="#top" class="footer__elevator" aria-label="{{ 'THEME_C.A11Y.SKIP2TOP'|t|e }}" title="{{ 'THEME_C.A11Y.SKIP2TOP'|t|e }}">
                {{ svg('up')|raw }}
            </a>
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

{% if config.system.env.banner %}
    {% include 'partials/ticker.html.twig' %}
{% endif %}
</body>
</html>
