{%- import 'macros/navigation.twig' as nav -%}

<a class="navigation__open" href="#navigation" id="nav-open" title="{{ 'THEME_C.NAV.REVEAL'|t|e }}" aria-label="{{ 'THEME_C.NAV.REVEAL'|t|e }}">
    {{ svg( 'menu' )|raw }} <span aria-hidden="true">{{ 'THEME_C.NAV.MENU'|t|e }}</span>
</a>
<div class="navigation" id="navigation" data-l10n-show="{{ 'THEME_C.NAV.SUBMENU_REVEAL'|t|e }}" data-l10n-hide="{{ 'THEME_C.NAV.SUBMENU_HIDE'|t|e }}">
    <nav class="navigation__layer">
        <ul class="menu">
            {{ nav.loop(pages) }}
        </ul>

        {% if site.minor_menu %}
            <ul class="menu menu--minor">
                {% for mitem in site.minor_menu %}
                    <li class="menu__item">
                        <a href="{{ mitem.url }}">
                            {% if mitem.icon %}{{ svg( mitem.icon )|raw }}{% endif %}
                            {{ mitem.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <span hidden id="current">Aktuelle Seite</span>
    </nav>
    <a class="navigation__close" href="#" id="nav-close" title="{{ 'THEME_C.NAV.HIDE'|t|e }}" aria-label="{{ 'THEME_C.NAV.HIDE'|t|e }}"></a>
</div>