{%- import 'macros/navigation.twig' as nav -%}

<nav
    class="navigation"
    id="mainnav"
    aria-label="{{ 'THEME_C.NAV.SR_MAIN'|t|e }}"
    data-l10n-show="{{ 'THEME_C.NAV.SUBMENU_REVEAL'|t|e }}"
    data-l10n-hide="{{ 'THEME_C.NAV.SUBMENU_HIDE'|t|e }}"
    >

    <button
        class="navigation__open is-interactive"
        id="mainnav-open"
        type="button"
        aria-expanded="false"
        aria-label="{{ 'THEME_C.NAV.TOGGLE'|t|e }}"
        aria-controls="mainnav"
        title="{{ 'THEME_C.NAV.MAIN_MENU'|t|e }}"
    >
        <span>{{ 'THEME_C.NAV.MENU'|t|e }}</span>
        {{ svg( 'menu' )|raw }}
    </button>

    {# no js fallback buttons with :target #}
    <a
        class="navigation__open is-fallback"
        href="#navigation"
        aria-label="{{ 'THEME_C.NAV.REVEAL'|t|e }}"
        title="{{ 'THEME_C.NAV.REVEAL'|t|e }}"
        >
        <span>{{ 'THEME_C.NAV.MENU'|t|e }}</span>
        {{ svg( 'menu' )|raw }}
    </a>

    <div class="navigation__overlay" id="navigation">
        <ul class="menu" role="list">
            {{ nav.loop(pages) }}
        </ul>
        <span class="navigation__abyss"></span>
        <a
            class="navigation__close is-fallback"
            href="#"
            aria-label="{{ 'THEME_C.NAV.HIDE'|t|e }}"
            title="{{ 'THEME_C.NAV.HIDE'|t|e }}"
            >
            {{ svg( 'close' )|raw }}
            <span>{{ 'THEME_C.NAV.HIDE'|t|e }}</span>
        </a>
    </div>

</nav>