{%- set wrap_tag = 'div' -%}
{%- set label_tag = 'label' -%}
{%- if field.type in [ 'radio' ] -%}
    {%- set wrap_tag = 'fieldset' -%}
    {%- set label_tag = 'legend' -%}
{%- endif -%}
{%- if field.type in [ 'checkbox' ] -%}
    {% set show_label = false %}
{%- endif -%}


{% block field %}
{% set layout_form_field_outer_classes = layout_form_field_outer_classes ~ ' ' ~ field.id %}
<{{ wrap_tag }} class="{{- layout_form_field_outer_classes|trim }} {{ form_field_outer_core|trim -}}">
    {% block contents %}
        {% if show_label %}
            {{- form_field_toggleable -}}
            <{{ label_tag }} class="{{ layout_form_field_label_classes }}{{ form_field_label_trim }}" {% if field.id %}for="{{ form_field_for }}"{% endif %}>
                {%- block label -%}
                    {%- if form_field_help -%}
                        <span class="tooltip" data-tooltip="{{ form_field_help|e }}">{{ form_field_label }}</span>
                    {%- else -%}
                        {{ form_field_label }}
                    {%- endif -%}
                    {%- if form_field_required %}
                        {# <span class="required">*</span> #}
                    {% else %}
                        <small>({{ 'THEME_C.FORM.OPTIONAL'|t|e }})</small>
                    {%- endif -%}
                {%- endblock -%}
            </{{ label_tag }}>
        {% endif %}
        {% block group %}
            {% block input %}
                {% block prepend %}{% endblock prepend %}
                <input
                    name="{{ (scope ~ field.name)|fieldName }}"
                    value="{{ value|join(', ')|e }}"
                    {% block input_attributes %}{% endblock %}
                />
                {% block append %}{% endblock append %}
                {% if inline_errors and errors %}
                <div class="{{ form_field_inline_error_classes }}">
                    <p class="form-message"><i class="fa fa-exclamation-circle"></i> {{ errors|first|raw }}</p>
                </div>
                {% endif %}
            {% endblock %}
        {% endblock %}
        {% if field.description %}
            <div class="{{ form_field_extra_wrapper_classes }}">
                <span class="form-description">
                    {{ form_field_description|raw }}
                </span>
            </div>
        {% endif %}
    {% endblock %}
</{{ wrap_tag }}>
{% endblock %}