{% macro loop(page) %}
    {% import _self as nav %}
    {% for p in page.children.visible %}
        {% set classes = [] %}
        {% if p.active %}
            {% set classes = classes|merge([ 'active' ]) %}
        {% endif %}
        {% if p.activeChild %}
            {% set classes = classes|merge([ 'open' ]) %}
        {% endif %}
        {% if p.header.menu_classes %}
            {% set classes = classes|merge([ p.header.menu_classes ]) %}
        {% endif %}
        {% if p.children.visible.count > 0 %}
            <li class="menu__item has-children {{ classes|join( ' ' ) }}">
                <a class="menu__link" href="{{ p.url }}" {% if p.active %} aria-current="page" aria-describedby="current"{% endif %}>
                    {{ p.menu }}
                </a>
                <button class="menu__expander" tabindex="-1"></button>
                <ul class="submenu" aria-label="{{ 'THEME_C.NAV.SUBMENU'|t|e }}">
                    {{ nav.loop(p) }}
                </ul>
            </li>
        {% else %}
            <li class="menu__item {{ classes|join( ' ' ) }}">
                <a class="menu__link" href="{{ p.url }}"{% if p.active %} aria-current="page" aria-describedby="current"{% endif %}>
                    {% if p.header.menu_icon is defined %}
                        {{ svg( p.header.menu_icon, 'icon menu__icon' )|raw }}
                    {% endif %}
                    {{ p.menu }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}