{% macro loop(page) %}
    {% import _self as nav %}
    {% for p in page.children.visible %}
        {% set classes = [] %}
        {% if p.active %}
            {% set classes = classes|merge([ 'active' ]) %}
        {% endif %}
        {% if p.activeChild %}
            {% set classes = classes|merge([ 'open' ]) %}
        {% endif %}
        {% if p.header.menu_classes %}
            {% set classes = classes|merge([ p.header.menu_classes ]) %}
        {% endif %}
        {% if p.children.visible.count > 0 %}
            <li class="menu__item has-children {{ classes|join( ' ' ) }}">
                <a class="menu__link" href="{{ p.url }}">
                    {{ p.menu }}
                </a>
                <input type="checkbox" id="submenu__state--{{ p.title|hyphenize }}" class="submenu__state vh" role="button" aria-haspopup="true"{% if p.activeChild or p.active %} checked{% endif %}>
                <label class="submenu__trigger" for="submenu__state--{{ p.title|hyphenize }}">
                    <span aria-hidden="true">{{ svg( 'angle-right', 'icon menu__presser' ) }}</span>
                    <span class="vh expanded-text">Untermenü geöffnet</span>
                    <span class="vh collapsed-text">Untermenü verborgen</span>
                </label>
                <ul class="submenu">
                    {{ nav.loop(p) }}
                </ul>
            </li>
        {% else %}
            <li class="menu__item {{ classes|join( ' ' ) }}">
                <a class="menu__link" href="{{ p.url }}">
                    {% if p.header.menu_icon is defined %}
                        {{ svg( p.header.menu_icon, 'icon menu__icon' ) }}
                    {% endif %}
                    {# a11y freindly custom formated names #}
                    {% if p.header.menu is defined %}
                        <span aria-label="{{ p.title }}">
                            <span aria-hidden="true">
                                {{ p.menu }}
                            </span>
                        </span>
                    {% else %}
                        {{ p.menu }}
                    {% endif %}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}