{% if post.taxonomy.category %}
    <p class="article__category">
        <span class="vh">{{ 'THEME_C.BLOG.POSTED_IN'|t|e }}: </span>
        {% for category in post.taxonomy.category %}
            <a class="category" rel="category tag" href="{{ blog.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>{% if loop.last == false %}, {% endif %}
        {% endfor %}
    </p>
{% endif %}