{% if post.header.hero.image is defined %}
    {% if link %}
        <a href="{{ post.url }}" rel="bookmark">
    {% endif %}
    {% if post.header.hero.image matches '~^\/|^https?:\/\/~' %}
        <img class="article__image" src="{{ post.header.hero.image }}" alt="{{ post.header.hero.image_alt }}">
    {% else %}
        {% set image = post.media[post.header.hero.image] %}
        {# <img class="article__image" src="{{ image.url }}" alt=""> #}
        {{ image.derivatives(640,960,1920).html( null, post.header.hero.image_alt, 'article__image' )|raw }}
    {% endif %}
    {% if link %}
        </a>
    {% endif %}
{% endif %}