<nav class="article__navigation postnav wrapping" role="navigation">
    <h2 class="vh">{{ 'THEME_C.BLOG.POST_NAV'|t|e }}</h1>
    <div class="postnav__list">
        {% if not post.isFirst %}
        <a class="postnav__link" href="{{ post.nextSibling.url }}" rel="next">
            <span class="postnav__label">{{ 'THEME_C.BLOG.NEXT_POST'|t|e }}<span class="vh">:</span></span>
            {{ post.nextSibling.title }}
        </a>
        {% endif %}
        {% if not post.isLast %}
        <a class="postnav__link" href="{{ post.prevSibling.url }}" rel="prev">
            <span class="postnav__label">{{ 'THEME_C.BLOG.PREV_POST'|t|e }}<span class="vh">:</span></span>
            {{ post.prevSibling.title }}
        </a>
        {% endif %}
    </div>
</nav>